################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/rocky_world/v16/Browse.VC.opendb
*.db-wal
*.db-shm
*.db
